//--  Fonts --//

$td-lt: 'TradeGothic LT';
$td-lt-light: 'TradeGothic LT Light';
$td-cn-18-bd-20: 'TradeGothic LT CondEighteen BoldCondTwentyObl';
$td-bd-2: 'TradeGothic LT BoldTwo';
$td-bd-ext: 'TradeGothic LT BoldExtended';
$td-lt-ob: 'TradeGothic LT LightOblique';
$td-bd-ob: 'TradeGothic LT BoldOblique';
$td-bd: 'TradeGothic LT Bold';
$td-cn-18: 'TradeGothic LT CondEighteen';
$td-lt-exp: 'TradeGothic LT Extended';
$td-lt-ob: 'TradeGothic LT Oblique';
$td-lt-cn-20: 'TradeGothic LT Cond Twenty';
$td-lt-bd-2-ob: 'TradeGothic LT-BoldTwoOblique';
$td-lt-cn-18-ob: 'TradeGothic LT CondEighteenObl';
$td-got-lt-std-bd-Cn-20: 'Trade Gothic LT Std BdCn20';

// -- Colors -- //

$white: #ffffff;
$red: #ce1126;
$red-text: #ce1126;
$wine: #ef3b4b;
$black: #000000;
$dk-brand: #171717;
$gray-txt: #333333;
$gray-lt: #DEDEDE;
$gray-d8: #D8D8D8;
$gray-field: rgba(50,50,50,0.5);
$border-yellow: #bca25f;
$yellow-link-menu: #bca25f;
$blue-facebook: #003a78;
$gray-text-blog: #808080;
$black-transparency: rgba(0,0,0,.8);

//Sizes
$icon-social: 36px;
$max-width-wrapper: 108rem;
$height-banner-desktop-banner:290px;
$margin-top-banner-desktop-banner:170px;
$height-banner-mobile-banner:200px;
$margin-top-banner-mobile-banner:110px;
$text-size-select: 17px;

//Sizes home
$home-height-slider-mobile: 620px;
$home-min-height-slider: 325px;
$home-height-slider-desktop: 620px;
$home-height-slider-tablet: 432px;
$width-divisor-history-dots: 20px;

//Sizes about
$about-height-product-image-mobile: 500px;
$about-height-product-image-desktop: 530px;
//Developer vars
$opacity-facebook-button:0.02;